body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(238, 170, 163, 1.0), rgba(254, 247, 246, 1.0));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
}

.container {
    text-align: center;
    background: #fff;
    padding: 2%; /* Adjusted padding to give more space inside the container */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    max-width: 1000px;
    border: 1px solid #f8c7c7;
    margin-bottom: 10px; /* Adjusted margin to ensure the container is not pushed too far down */
}

h1 {
    color: #e74c3c;
    font-size: 0.8em;
    margin: 0; /* Remove the margin to ensure the heading is not pushed out */
    padding-bottom: 20px; /* Add padding to separate it from content below */
}

.test-score, .start-learning {
    background-color: #e0d1d1;
    padding: 20px;
    margin: 20px 0; /* Reduced margin to make space */
    font-size: 1.5em;
    color: #e74c3c;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.level-button {
    background-color: #f8c7c7;
    color: #e74c3c;
    border: none;
    padding: 10px;
    font-size: 1.5em; /* Adjusted font size for balance */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.level-button:hover {
    background-color: #e74c3c;
    color: #fff;
}

@media (min-width: 768px) {
    .container {
        padding: 50px;
    }

    h1 {
        font-size: 1.5em;
    }

    .test-score, .start-learning {
        font-size: 2em;
    }

    .buttons {
        flex-direction: row;
        justify-content: space-around;
    }

    .level-button {
        padding: 30px 60px;
        font-size: 2em;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3.5em;
    }

    .test-score, .start-learning {
        font-size: 2.5em;
    }

    .level-button {
        padding: 30px 60px;
        font-size: 3em;
    }
}
