body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(238, 170, 163, 1.0), rgba(254, 247, 246, 1.0));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.knowledge-test-wrapper {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-bottom: 250px;
}

.knowledge-test-header {
    color: #dc493a;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.knowledge-test-container {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 100%;
    max-width: 1000px;
    height: 300%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-self: center;
}

.question-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dc493a;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.question-area {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.answer-button {
    color: gray;
    font-size: 1.25rem;
    display: block;
    margin: 10px 0;
    text-align: left;
}

.answer-button-selected {
    color: red;
}

.answer-feedback {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 2.5rem;
}

.answer-feedback.correct {
    background: lightgreen;
    color: green;
}

.answer-feedback.wrong {
    background: lightcoral;
    color: red;
}

.next-button {
    background-color: #dc493a;
    color: white;
    margin-top: 30px;
    font-size: 2.25rem;
    padding: 10px 20px;
}

.next-button:hover {
    background-color: #c83e31;
}

.score-display {
    text-align: center;
    font-size: 1.5rem;
}

.score-display h4 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.score-display h5 {
    margin: 5px 0;
}

/* Single Responsive Styles */
@media (max-width: 1024px) {
    .knowledge-test-container {
        padding: 15px;
        max-width: 95%;
    }

    .knowledge-test-header {
        font-size: 1.5rem;
    }

    .question-counter {
        font-size: 1rem;
        padding: 3px 7px;
    }

    .question-area {
        font-size: 1.25rem;
    }

    .answer-button {
        font-size: 1.25rem;
    }

    .answer-feedback {
        font-size: 1.25rem;
    }

    .next-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
  